.card{
    display: flex;
    flex-direction: column;
    background: wheat;
    border: 2px solid black;
    margin: 10px;
    text-align: center;
    padding: 10px;
}
.image{
    height: 130px;
    width: 130px;
    border-radius: 50%;
}

.collection{
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
    margin-top: 20px;
}